@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome to Boggle</h1>
    <p>Learn how to play <a href="https://www.hasbro.com/common/instruct/boggle.pdf" target="_blank">here!</a> (Opens in new tab)</p>
</div>

<div class="text-center">
    <h1 class="display-4">Are ya ready kids?</h1>
    
</div>


<

<div class="text-lg-center">
    <h3><a href="~/democlient.html" target="_blank">Aye Aye Captain!</a></h3>
</div>