@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We're stealing all your information bro, we're worse than Facebook and Google combined.</p>
<img src="/images/hahah.png" width="1080" 
     height="720" class="lol" />
<style>
    .lol{
        align-self: center;
    }
    body {
        background-color: yellowgreen;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
    }
</style>